<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<body>
		<!-- Page Header Start -->
		<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/bootstrap/img/carousel-1.jpg);">
			<div class="container-fluid page-header-inner py-5">
				<div class="container text-center pb-5">
					<h1 class="display-3 text-white mb-3 animated slideInDown">Location</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center text-uppercase">
							<li class="breadcrumb-item"><a href="index">Home</a></li>
							<li class="breadcrumb-item"><a href="trans">Public</a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Location</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Contact Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title text-center text-primary text-uppercase">Contact Us</h6>
					<h1 class="mb-5"><span class="text-primary text-uppercase">Map</span> For Us</h1>
				</div>
				<div class="row g-4 justify-content-center">
					<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
						<iframe class="position-relative rounded w-100 h-100" src="/map" frameborder="0"
							style="min-height: 500px; min-width: 650px; border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>

					</div>
					<div class="position-relative">
						<img class="img-fluid" src="/images/route.PNG" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Contact End -->
	</body>
	</br></br></br>

</html>