<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>회원가입</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		#overlappedID,
		#overlappedPhone {
			background-color: GhostWhite;
			width: 30%;
			height: 30px;
		}

		.olmessagef {
			color: red;
			font-style: Italic;
		}

		.olmessaget {
			color: blue;
			font-style: Italic;
		}
	</style>
</head>

<body>
	<div class='container'>
		<form class='form-signin' id='join_form'>
			<h2 class='form-signin-heading text-center mb-5'>회원가입</h2>

			<p>
				<input type="text" id="userid" name="userid" placeholder="아이디" minlength="4" maxlength="15" required
					autofocus>
				<button id="overlappedID" type="button">중복확인</button><br>
				<span id="olmessage"></span>
			</p>

			<p>
				<label for='password' class='sr-only'>비밀번호 </label>
				<input type='password' id='pw' name="pw" class="form-control" placeholder="비밀번호 " required>
			</p>
			<p>
				<label for='password' class='sr-only'>비밀번호 확인 </label>
				<input type='password' id='pw2' name="pw2" class="form-control" placeholder="비밀번호 확인 " required>
				<span id="olmessage2"></span>
			</p>

			<p>
				<label for='email' class='sr-only'>이메일 </label>
				<input type='email' id='email' name="email" class="form-control" placeholder="이메일 "
					oninput="checkEmail()" required>
				<span id="olmessage4"></span>
			</p>
			<p>
				<label for='nickname' class='sr-only'>닉네임 </label>
				<input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임" required
					oninput="checkNick()">
				<span id="olmessage3"></span>
			</p>

			<p>
				<label for='phone' class='sr-only'>휴대폰번호 </label>
				<input type='tel' id='phone' name="phone" placeholder="휴대폰번호 " oninput="autoHyphen(this)" maxlength="13"
					required>
				<button id="overlappedPhone" type="button">중복확인</button><br>
				<span id="olmessage5"></span>
			</p>
			<p>
				<label for='address' class='sr-only'>주소 </label>
				<input type='text' id='address' name="address" class="form-control" placeholder="주소 " required>
			</p>


			<button type="button" class="btn btn-lg btn-primary btn-block" id="signup" onclick="check()">회원가입 </button>
		</form>
	</div>

	<script>
		const form = document.getElementById('join_form');

		form.addEventListener('submit', e => {
			e.preventDefault();

			const data = new FormData(form);
			const param = JSON.stringify(Object.fromEntries(data));

			fetch('/auth/join', {
				method: 'POST',
				body: param,
				headers: {
					'Content-Type': 'application/json'
				}
			})
				.then(response => {
					debugger;
					if (response.status == 200) {
						window.location.href = '/login';
						alert("회원가입 성공")
					} else {
						alert("회원가입 실패")
					}
				})
				.catch(error => console.log(error))
		});

		//아이디 중복 체크

		$("#overlappedID").click(function () {
			const userid = $("#userid").val();

			// 정규식을 사용하여 공백이나 특수문자를 체크
			if (userid.trim() === "" || /[\s!@#$%^&*(),.?":{}|<>]/.test(userid)) {
				$("#olmessage").text("공백이나 특수문자는 사용 할 수 없습니다.");
				$("#olmessage").addClass("olmessagef");
				$("#olmessage").removeClass("olmessaget");
				$("#signup").attr("type", "button");
			} else {
				$.ajax({
					type: "get",
					contentType: 'application/json',
					async: false,
					url: "http://192.168.56.1:8082/auth/idCheck",
					data: {userid: userid},
					success: function (result) {
						if (result == true) {
							$("#olmessage").text("이미 사용 중인 ID입니다.");
							$("#olmessage").addClass("olmessagef");
							$("#olmessage").removeClass("olmessaget");
							$("#signup").attr("type", "button");
						} else {
							$("#olmessage").text("사용 가능한 ID입니다.");
							$("#olmessage").addClass("olmessaget");
							$("#olmessage").removeClass("olmessagef");
							$("#signup").attr("type", "submit");
						}
					}
				});
			}
		});

		$(function () {

			//비밀번호 확인
			$('#pw2').blur(function () {
				if ($('#pw').val() != $('#pw2').val()) {
					if ($('#pw2').val() != '') {
						$("#olmessage2").html("<font color='#70AD47'>패스워드 확인이 일치 하지 않습니다.</font>");
						$('#pw2').val('');
						$('#pw2').focus();
					}
				} else {
					$("#olmessage2").html("<font color='#70AD47'>패스워드 확인이 일치 합니다.</font>");
				}
			})
		});
		//닉네임 중복체크
		function checkNick() {
			const nickname = $('#nickname').val().trim();  //id값이 "id"인 입력란의 값을 저장
			// 정규식을 사용하여 공백이나 특수문자를 체크
			if (nickname === "" || /[\s!@#$%^&*(),.?":{}|<>]/.test(nickname)) {
				$("#olmessage3").html("<font>공백이나 특수문자는 사용 할 수 없습니다.</font>");
				$("#olmessage3").addClass("olmessagef");
				$("#olmessage3").removeClass("olmessaget");
			} else {
				$.ajax({
					url: "http://192.168.56.1:8082/auth/nickCheck",
					type: 'get',
					contentType: 'application/json',
					async: false,
					data: {nickname: nickname},
					success: function (result) {
						if (result === false) {
							$("#olmessage3").html("<font>사용 가능한 닉네임 입니다.</font>");
							$("#olmessage3").addClass("olmessaget");
							$("#olmessage3").removeClass("olmessagef");
						} else if (result === true) {
							$("#olmessage3").html("<font>사용 중인 닉네임 입니다.</font>");
							$("#olmessage3").addClass("olmessagef");
							$("#olmessage3").removeClass("olmessaget");
						}
					},
					error: function () {
						$("#olmessage3").html("<font>에러가 발생했습니다.</font>");
						$("#olmessage3").addClass("olmessagef");
						$("#olmessage3").removeClass("olmessaget");
					}
				});
			}
		};

		// 이메일 중복체크 및 이메일 형식 검증
		function checkEmail() {
			const email = $('#email').val().trim();  // 입력란의 값을 저장

			// 이메일 형식을 체크하는 정규식
			const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

			// 이메일 형식이 유효한지 검증
			if (!emailPattern.test(email)) {
				$("#olmessage4").html("<font>올바른 이메일 형식이 아닙니다.</font>");
				$("#olmessage4").addClass("olmessagef");
				$("#olmessage4").removeClass("olmessaget");
			} else {
				$.ajax({
					url: "http://192.168.56.1:8082/auth/emailCheck",
					type: 'get',
					contentType: 'application/json',
					async: false,
					data: {email: email},
					success: function (result) {
						if (result === false) {
							$("#olmessage4").html("<font>사용 가능한 이메일 입니다.</font>");
							$("#olmessage4").addClass("olmessaget");
							$("#olmessage4").removeClass("olmessagef");
						} else if (result === true) {
							$("#olmessage4").html("<font>사용 중인 이메일 입니다.</font>");
							$("#olmessage4").addClass("olmessagef");
							$("#olmessage4").removeClass("olmessaget");
						}
					},
					error: function () {
						$("#olmessage4").html("<font>에러가 발생했습니다.</font>");
						$("#olmessage4").addClass("olmessagef");
						$("#olmessage4").removeClass("olmessaget");
					}
				});
			}
		};

		//휴대폰 번호 형식 검증
		$("#overlappedPhone").click(function () {
			const phone = $("#phone").val().trim();

			// 휴대폰 번호 형식을 체크하는 정규식
			const phonePattern = /^\d{3}-\d{3,4}-\d{4}$/;

			// 휴대폰 번호 형식이 유효한지 검증
			if (!phonePattern.test(phone)) {
				$("#olmessage5").text("올바른 휴대폰 번호 형식이 아닙니다.");
				$("#olmessage5").addClass("olmessagef");
				$("#olmessage5").removeClass("olmessaget");
				$("#signup").attr("type", "button");
			} else {
				$.ajax({
					type: "get",
					contentType: 'application/json',
					async: false,
					url: "http://192.168.56.1:8082/auth/phoneCheck",
					data: {phone: phone},
					success: function (result) {
						if (result == true) {
							$("#olmessage5").text("이미 사용 중인 번호입니다.");
							$("#olmessage5").addClass("olmessagef");
							$("#olmessage5").removeClass("olmessaget");
							$("#signup").attr("type", "button");
						} else {
							$("#olmessage5").text("사용 가능한 번호입니다.");
							$("#olmessage5").addClass("olmessaget");
							$("#olmessage5").removeClass("olmessagef");
							$("#signup").attr("type", "submit");
						}
					}
				});
			}
		});



		//공백 특수문자
		function check() {

			var str = document.getElementById('userid');
			var nickname = document.getElementById('nickname');
			var address = document.getElementById('address');
			var phone = document.getElementById('phone');
			var regex = /^\d{2,3}-\d{3,4}-\d{4}$/;


			if (str.value == '' || str.value == null || nickname.value == '' || nickname.value == null || address.value == '' || address.value == null) {
				alert('값을 입력해주세요');
				return false;
			}

			if (str.value.search(/\W|\s/g) > -1 || nickname.value.search(/\W|\s/g) > -1 || address.value.search(/\W|\s/g) > -1) {
				alert('특수문자 또는 공백을 입력할 수 없습니다.');
				str.focus();
				return false;
			}
		}

		const autoHyphen = (target) => {
			target.value = target.value
				.replace(/[^0-9]/g, '')
				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}


	</script>

</body>

</html>