<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">


	<body>

		<!-- Page Header Start -->
		<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/bootstrap/img/carousel-1.jpg);">
			<div class="container-fluid page-header-inner py-5">
				<div class="container text-center pb-5">
					<h1 class="display-3 text-white mb-3 animated slideInDown">Nearby</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center text-uppercase">
							<li class="breadcrumb-item"><a href="#">Notice</a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Nearby</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Room Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title text-center text-primary text-uppercase">Destinations</h6>
					<h1 class="mb-5">Nearby <span class="text-primary text-uppercase">Travel</span></h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/hesu.png" alt="">

							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">협재 해수욕장</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">Hyeopjae Beach and Geumneung Beach were designated as
									excellent beaches by the Ministry of Oceans and Fisheries in 2007, and the number of
									users is increasing significantly as safe, clean and pleasant swimming pools. Beyond
									the white sandy beach, Jeju Island is the only island called Biyangdo Island, which
									gives users great satisfaction with its unique atmosphere such as photography and
									fishing.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/hesu2.png" alt="">
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">금능 해수욕장</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">Hyeopjae Beach and Geumneung Beach were designated as
									excellent beaches by the Ministry of Oceans and Fisheries in 2007, and the number of
									users is increasing significantly as safe, clean and pleasant swimming pools. Beyond
									the white sandy beach, Jeju Island is the only island called Biyangdo Island, which
									gives users great satisfaction with its unique atmosphere such as photography and
									fishing.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/gongwon.jpg" alt="">
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">한림 공원</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">Jeju Hallim Park is a site with a pioneering spirit that was
									made into a green paradise by Song Bong-gyu, the founder of the park, sowing palm
									seeds in a 100,000 pyeong wilderness sand field in 1971. Hallim Park, which features
									nine fantastic themes, has been visited by prominent people from around the world,
									including former Chinese President Jiang Zemin and former Japanese Prime Minister
									Nakasone, and is a global tourist attraction for domestic and foreign tourists.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/donggul.jpg" alt="">
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">협재굴</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">Hyeopjaegul Cave is a representative lava tube of Jeju Island
									along with Golden Cave, Socheongul Cave, Ssangyonggul Cave, and Manjanggul Cave. The
									cave is about 200m long, 10m wide, and 5m high, and was created when the volcano
									around Hallasan erupted 2.5 million years ago. It is peculiar that it is a
									two-dimensional cave that combines the characteristics of a lava cave and a
									limestone cave, and the area is made of a sand layer mixed with shells. Inside the
									cave, stalagmites extending from the ceiling and stalagmites, which look like they
									are rising from the floor, create a mysterious scene, and the stalactites, where
									stalagmites and stalagmites meet to form a single pillar, are bizarre and beautiful.
								</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/san.png" alt="">
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">능지리 오름</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">Nejiri Oreum is an oreum that children and the elderly can
									climb lightly, and is derived from Nejiri, the old name of Sangmyeong-ri. Since the
									16th century, the beacon has been installed, and it is sometimes called "Mangoreum".
									If you climb to the top of Oreum, you can see the whole area of northwest Jeju
									Island. The road to the observatory is thick with trees, so you can feel the feeling
									of walking through the forest, and on a clear day, you can see Hallasan Mountain and
									other northwestern Oreum from the top observatory.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/images/doro.jpg" alt="">
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">한림 해안도로</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<p class="text-body mb-3">It is a coastal road that boasts beautiful scenery regardless
									of the weather. If you pass "Hanlim Port" along the road, you will see "Biyangdo,"
									and the view of the island, emerald sea, white sand beach, and sunset is a good way
									to stop the car and enjoy it. The road is about 12 kilometers long and is not known
									much compared to other places, so you can feel quiet and relaxed.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Room End -->


		<!-- Testimonial Start -->
		<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s"
			style="margin-bottom: 90px;">
			<div class="container">
				<div class="owl-carousel testimonial-carousel py-5">
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>Highly recommended this newly opened Hotel, with a picturesque setting - endless pool (110m
							long) heated, and kids friendly.. Very clean and nice, beautiful surroundings</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-1.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Selina</h6>
								<small>Canada</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>Everything’s new and clean since it’s freshly opened. The pool is awesome! Bvlgari cafe/popup
							store is kind of odd but nice to look at. It’s a nice plus to have free soft drinks and beer
							stocked up each day. Stayed for 4 nights.</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-2.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Sylvia</h6>
								<small>America</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>We liked our stay there. Although I wasn’t a fan of having to pick a time to use the pool.
							The check in process was also very long even if you arrive early they make you wait until
							3pm to get your keys</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-3.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Dennis</h6>
								<small>Singapore</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->

	</body>

</html>