<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<head>
		<meta charset="UTF-8">
		<title>게시판</title>
		<style>
			table {
				border-collapse: collapse;
			}
		</style>
	</head>

	<body>
		<br /><br />
		<form th:action="@{/modify/{noticeId}(noticeId=${notice.noticeId})}" method="post" name="1">
			<center>
				<h3>게시판</h3>
				<table border="1">



					<tr>
						<td style="width: 100px; text-align:center;">번호</th>
						<td colspan='3' style="width: 700px;" th:text="${notice.noticeId}">
						</td>
					</tr>
					<tr>
						<td style="width: 100px; text-align:center;">제목</th>
						<td colspan='3' style="width: 700px;" th:text="${notice.title}">
						</td>
					</tr>
					<tr>
						<td style="width: 100px; text-align:center;">글쓴이</th>
						<td colspan='3' style="width: 700px;" th:text="${notice.writer}">
						</td>
					</tr>
					<tr>
						<td style="width: 100px; text-align:center;">내용</td>
						<td colspan='3' style="width: 700px; height : 500px" th:text="${notice.content}">
						</td>
					</tr>
					<tr>
						<td style="width: 100px; text-align:center;">등록일</td>
						<td style="width: 300px;" th:text="${notice.date}">
							<input type="hidden" name="date" th:value="${notice.date}">
						</td>
						<td style="width: 100px; text-align:center;">조회수</td>
						<td style="width: 300px;" th:text="${notice.viewCount}">
							<input type="hidden" name="viewcnt" th:value="${notice.viewCount}">
						</td>
					</tr>
				</table>
				<br /><br />
				<div style="display: flex; width: 800px; justify-content: flex-end;">
					<div style="padding-top: 10px;">
						<!--         	<a th:href="@{/board/comment(id=${notice.id})}"><button type="button">댓글쓰기</button></a>-->
						<a th:href="@{/deleteDB(noticeId=${notice.noticeId})}"><button type="button">삭제</button></a>
						<button type="submit">수정</button></a>
						<a th:href="@{/notice}"><button type="button">목록</button></a>
					</div>
				</div>
				<!--      <table border="1" style="text-align:center">
      	<tr th:each="clist : ${boardCommentlist}">
      	<form method="post" action="./update_comment">
      	<td style="width : 550px"><input type="text" style="width:550px;" name="content"
      		th:value="${clist.content}"></td>
      		<td style="width : 150px" th:text="${clist.date}">
      		<input type="hidden" name="date" th:value="${clist.date}">
      		<input type="hidden" name="rootid" th:value="${clist.notice.id}">
      		<input type="hidden" name="id" th:value="${clist.id}"></td>
      		<td style="width:50px"><button type="submit">수정</button></td>
      		<td style="width:50px"><a th:href="@{/board/delete_comment(id=${clist.id},rootid=${clist.notice.id})}">
      		<button type="button">삭제</button></a></td>
      	</form>
      	</tr>
      </table>-->
			</center>

		</form>





		<!--/* 댓글 작성 */-->
		<div class="cm_write">
			<fieldset>
				<legend class="skipinfo">댓글 입력</legend>
				<div class="cm_input">
					<p><textarea id="content" name="content" onkeyup="countingLength(this);" cols="90" rows="4"
							placeholder="댓글을 입력해 주세요."></textarea></p>
					<span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i
							id="counter">0/300자</i></span>
				</div>
			</fieldset>
		</div>









		<!--		<form th:action="@{/comment}" method="post" name="2">
			<div style="display: flex; justify-content: center;">
			</div>

			<div class="container" style="width: 60%;">
				<form method="post" action="/commentDB" id="root_id">
				<table class="table table-hover" border="1">
					<tr>
						<td style="width: 100px; text-align:center;">작성자</td>
						<td>writer</td>
					</tr>
					<tr>
						<td style="width: 100px; text-align:center;">내용</td>
						<td colspan='3' style="width: 700px; height : 100px">
							<textarea name="content" style="width: 690px; height : 60px"></textarea>
						</td>
					</tr>
				</table>
				<div style="display: flex; width: 800px; justify-content: flex-end;">
					<div style="padding-top: 10px;">
						<button type="submit">댓글 등록</button>
						<a href="/notice"><button type="button">목록</button></a>
					</div>
				</div>

			</div>
		</form>-->

		<br /><br /><br /><br />




	</body>
	<script>
		// 댓글 길이 카운팅
		function countingLength(content) {
			if (content.value.length > 300) {
				alert('댓글을 300자 이하로 입력해 주세요.');
				content.value = content.value.substring(0, 300);
				content.focus();
			}
			document.getElementById('counter').innerText = content.value.length + '/300자';
		}


		// 댓글 저장
		function saveComment() {

			const content = document.getElementById('content');
			isValid(content, '댓글');

			const noticeId = [[${notice.id}]];
			const params = {
				noticeId: noticeId,
				content: content.value,
				writer: '홍길동'
			}

			$.ajax({
				url: `/posts/${noticeId}/comments`,
				type: 'post',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				data: JSON.stringify(params),
				async: false,
				success: function (response) {
					console.log(response);
				},
				error: function (request, status, error) {
					console.log(error)
				}
			})
		}

	</script>

</html>