<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<head>
		<meta charset="UTF-8">
		<title>Notice</title>

	</head>

	<body>
		<br />
		<br />
		<br />
		<div th:fragment="content">
			<h3 style="text-align: center;">게시판</h3>
			<form th:action="@{/notice}" method="get">
				<div style="display: flex; justify-content: center;">
				</div>
			</form>
			<div class="container" style="width: 60%;">
				<table class="table table-hover" border="1">
					<tr>
						<th class="center" style="width: 100px;">번호</th>
						<th class="center" style="width: 500px;">제목</th>
						<th class="center" style="width: 100px;">작성자</th>
						<th class="center" style="width: 150px;">등록일</th>
						<th class="center" style="width: 100px;">조회수</th>
					</tr>
					<tr th:each="list, state : ${notice}">
						<!--<td style="text-align: left" th:text="${list.noticeId}"></td>-->
						<td style="text-align: left">[[${#lists.size(notice) - state.index}]]</td>
						<td style="text-align:left">
							<a th:href="@{/noticeOne(noticeId=${list.noticeId})}" th:text="${list.title}"></a>
						</td>
						<td style="text-align: left" th:text="${list.writer}"></td>
						<td style="text-align: left" th:text="${list.date}"></td>
						<td style="text-align: left" th:text="${list.viewCount}"></td>
					</tr>
				</table>
			</div>
			<div style="display: flex; width: 950px; justify-content: flex-end;">
				<div style="padding-top: 10px; text-align: right">
					<a href="/noticeNew" class="btn btn-primary">신규 등록</a>
				</div>
			</div>


			<div th:if="${#lists.isEmpty(notice)}">
				<h4 style="text-align: center;">게시글이 없습니다.</h4>
			</div>

			<br />
			<br />
			<br />
		</div>
		
		
		
		
	</body>

</html>