<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<head>
		<meta charset="UTF-8">
		<title>Notice</title>
	</head>

	<body>
		<br /><br /><br />
		<div th:fragment="content">
			<h3 style="text-align: center;">공지사항</h3>
			<form th:action="@{/notice}" method="get">
				<div style="display: flex; justify-content: center;">
				</div>
			</form>
			<div class="container" style="width: 60%;">
				<table class="table table-hover" border="1">
					<tr>
						<th class="center" style="width: 100px;">번호</th>
						<th class="center" style="width: 500px;">제목</th>
						<th class="center" style="width: 100px;">작성자</th>
						<th class="center" style="width: 150px;">등록일</th>
						<th class="center" style="width: 100px;">조회수</th>
					</tr>
					<tr th:each="list, loop : ${paging}">
						<td style="text-align: left">[[${paging.getTotalElements - (paging.number * paging.size) -
							loop.index}]]</td>
						</td>
						<td style="text-align:left">
							<a th:href="@{/noticeOne(noticeId=${list.noticeId})}" th:text="${list.title}"></a>
						</td>
						<td style="text-align: left" th:text="${list.writer}"></td>
						<td style="text-align: left" th:text="${list.date}"></td>
						<td style="text-align: left" th:text="${list.viewCount}"></td>
					</tr>
				</table>
				<div style="padding-top: 10px; text-align: right; margin-left: auto;">
					<a href="/noticeNew" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">신규 등록</a>
				</div>
			</div>

			<!-- 페이징처리 시작 -->
			<div th:if="${!paging.isEmpty()}">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
							<span>이전</span>
						</a>
					</li>
					<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
						th:if="${page >= paging.number-5 and page <= paging.number+5}"
						th:classappend="${page == paging.number} ? 'active'" class="page-item">
						<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
					</li>
					<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
							<span>다음</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- 페이징처리 끝 -->
			<div th:if="${#lists.isEmpty(notice)}">
				<h4 style="text-align: center;">게시글이 없습니다.</h4>
			</div>
			<br /><br /><br />
		</div>
	</body>

</html>