<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판</title>
<style>
table {
    border-collapse: collapse;
}
</style>
</head>
<body>
<form method="post" action="./update">
   <center>
      <h3>게시판</h3>
      <table border="1">
         <tr>
            <td style="width: 100px; text-align:center;">번호</th>
			<td colspan='3' style="width: 700px;" th:text="${notice.noticeId}">
			<input type="hidden" name="id" th:value="${notice.noticeId}" />
			</td>
         </tr>
         <tr>
            <td style="width: 100px; text-align:center;">제목</th>
			<td colspan='3' style="width: 700px;" th:text="${notice.title}">
			<input type="hidden" name="title" th:value="${notice.title}" />
			</td>
         </tr>
         <tr>
            <td style="width: 100px; text-align:center;">내용</td>
			<td colspan='3' style="width: 700px; height : 500px">
			<textarea name="content" style="width: 690px; height : 490px" th:text="${notice.content}"></textarea></td>
         </tr>
         <tr>
            <td style="width: 100px; text-align:center;">등록일</td>
			<td style="width: 300px;" th:text="${notice.date}">
			<input type="hidden" name="date" th:value="${notice.date}"></td>
			<td style="width: 100px; text-align:center;">조회수</td>
			<td style="width: 300px;" th:text="${notice.viewCount}">
			<input type="hidden" name="viewcnt" th:value="${notice.viewCount}"></td>
         </tr>
      </table>
      <br /><br /><br /><br />
      <div style="display: flex; width: 800px; justify-content: flex-end;">
         <div style="padding-top: 10px;">
<!--         	<a th:href="@{/board/comment(id=${notice.id})}"><button type="button">댓글쓰기</button></a>-->
         	<a th:href="@{/deleteDB(id=${notice.noticeId})}"><button type="button">삭제</button></a>
            <button type="submit">수정</button></a>
            <a th:href="@{/notice}"><button type="button">목록</button></a>
         </div>
      </div>
      <h3>댓글</h3>
<!--      <table border="1" style="text-align:center">
      	<tr th:each="clist : ${boardCommentlist}">
      	<form method="post" action="./update_comment">
      	<td style="width : 550px"><input type="text" style="width:550px;" name="content"
      		th:value="${clist.content}"></td>
      		<td style="width : 150px" th:text="${clist.date}">
      		<input type="hidden" name="date" th:value="${clist.date}">
      		<input type="hidden" name="rootid" th:value="${clist.notice.id}">
      		<input type="hidden" name="id" th:value="${clist.id}"></td>
      		<td style="width:50px"><button type="submit">수정</button></td>
      		<td style="width:50px"><a th:href="@{/board/delete_comment(id=${clist.id},rootid=${clist.notice.id})}">
      		<button type="button">삭제</button></a></td>
      	</form>
      	</tr>
      </table>-->
   </center>

</body>
</html>
