<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>

		<!-- Booking Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
					<h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
				</div>
				<div class="row g-5">
					<div class="col-lg-6">
						<div class="row g-3">
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s"
									src="/bootstrap/img/about-1.jpg" style="margin-top: 25%;">
							</div>
							<div class="col-6 text-start">
								<img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s"
									src="/bootstrap/img/about-2.jpg">
							</div>
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s"
									src="/bootstrap/img/about-3.jpg">
							</div>
							<div class="col-6 text-start">
								<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s"
									src="/bootstrap/img/about-4.jpg">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="wow fadeInUp" data-wow-delay="0.2s">
							<form method="post" id="myForm">
								<div class="row g-3">
									<div class="col-md-6">
										<div class="form-floating">
											<input type="text" class="form-control" name="name"
												th:value="${#authentication.principal.username}" id="name"
												placeholder="User name" readonly>
											<label for="name">User name</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<input type="email" class="form-control" id="email" placeholder="Your Email"
												th:value="${user?.email}" name="email" readonly>
											<label for="email">Your Email</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating date" id="date3" data-target-input="nearest">
											<input type="text" class="form-control" name="Check In"
												th:value="${reservationDate}" placeholder="Check In" readonly>
											<label for="Check In">Check in</label>

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating date" id="phoneNum" data-target-input="nearest">
											<input type="text" class="form-control" name="phoneNum"
												th:value="${user?.phone}" placeholder="phoneNum" readonly>
											<label for="phoneNum">phoneNum</label>

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<select class="form-select" id="select1" name="adultCount">
												<option value="1">Adult 1</option>
												<option value="2">Adult 2</option>
												<option value="3">Adult 3</option>
											</select>
											<label for="select1">Select Adult</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<select class="form-select" id="select2" name="childCount">
												<option value="0">Child 0</option>
												<option value="1">Child 1</option>
												<option value="2">Child 2</option>
												<option value="3">Child 3</option>
											</select>
											<label for="select2">Select Child</label>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating">
											Room Number
											<input type="text" name="root_id" th:value="${roomId}" readonly>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating">
											<textarea class="form-control" placeholder="Special Request" id="message"
												style="height: 100px" name="request"></textarea>
											<label for="message">Special Request</label>
										</div>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100 py-3" type="submit"
											onclick="openPopup()">Book
											Now</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Booking End -->
	</body>
	<div th:attr="data-writer=${#authentication.principal.username}"></div>
	<script>
		function openPopup() {
			var popupWidth = 400;
			var popupHeight = 300;
			var popupLeft = (window.screen.width / 2) - (popupWidth / 2);
			var popupTop = (window.screen.height / 2) - (popupHeight / 2);
			// 팝업 창을 열기 위한 코드입니다.
			var popupWindow = window.open('', '이동', 'width=' + popupWidth + ',height=' + popupHeight + ',left=' + popupLeft + ',top=' + popupTop);


			// 팝업 창에 버튼 추가
			var popupContent = '<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">';
			popupContent += '<h2 style="text-align: center;">예약현황으로 이동하시겠습니까?</h2>';
			popupContent += '<div style="display: flex; flex-direction: row; justify-content: center; gap: 10px;">';
			popupContent += '<button onclick="opener.redirectToBookPage(); window.close();">예</button>';
			popupContent += '<button onclick="opener.location.href=\'reservationStatus\'; window.close();">아니오</button>';
			popupContent += '</div>';

			// 팝업 창에 내용 채우기
			popupWindow.document.body.innerHTML = popupContent;
		}

		function redirectToBookPage() {
			const writer = document.querySelector('[data-writer]').getAttribute('data-writer');
			// 부모 창의 페이지를 "/book.html"로 이동시킵니다.
			window.location.href = '/booked?name=' + writer;
		}

	</script>



</html>