<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>

		<!-- Booking Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
					<h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
				</div>
				<div class="row g-5">
					<div class="col-lg-6">
						<div class="row g-3">
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s"
									src="/bootstrap/img/about-1.jpg" style="margin-top: 25%;">
							</div>
							<div class="col-6 text-start">
								<img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s"
									src="/bootstrap/img/about-2.jpg">
							</div>
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s"
									src="/bootstrap/img/about-3.jpg">
							</div>
							<div class="col-6 text-start">
								<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s"
									src="/bootstrap/img/about-4.jpg">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="wow fadeInUp" data-wow-delay="0.2s">
							<form method="post">
								<div class="row g-3">
									<div class="col-md-6">
										<div class="form-floating">
											<input type="text" class="form-control" name="name" th:value="${#authentication.principal.username}" id="name" placeholder="User name">
											<label for="email">User name</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<input type="email" class="form-control" id="email" placeholder="Your Email" th:value="${user?.email}"
												name="email">
											<label for="email">Your Email</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating date" id="date3" data-target-input="nearest">
											<input type="text" class="form-control" name="root_id" th:value="${reservationDate}" placeholder="Check In">
											<label for="email">Check in</label>

										</div>
									</div>
									<div class="col-md-6">
		
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<select class="form-select" id="select1" name="adultCount">
												<option value="1">Adult 1</option>
												<option value="2">Adult 2</option>
												<option value="3">Adult 3</option>
											</select>
											<label for="select1">Select Adult</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<select class="form-select" id="select2" name="childCount">
												<option value="1">Child 1</option>
												<option value="2">Child 2</option>
												<option value="3">Child 3</option>
											</select>
											<label for="select2">Select Child</label>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating">
											Room Number
											<input type="text" name="root_id" th:value="${roomId}">
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating">
											<textarea class="form-control" placeholder="Special Request" id="message"
												style="height: 100px" name="request"></textarea>
											<label for="message">Special Request</label>
										</div>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Booking End -->
	</body>

</html>