<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/shared/_layout">
<div layout:fragment="content">


	<body>

		<!-- Page Header Start -->
		<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-1.jpg);">
			<div class="container-fluid page-header-inner py-5">
				<div class="container text-center pb-5">
					<h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center text-uppercase">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="reservationStatus">Booking</a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Rooms</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Room Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>
					<h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/bootstrap/img/room-1.jpg" alt="">
								<small
									class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$200/Night</small>
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">Junior Suite</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<div class="d-flex mb-3">
									<small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2
										Bed</small>
									<small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
										Bath</small>
									<small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
								</div>
								<p class="text-body mb-3">Junior room is equipped with comfortable and
									cozy interior design, comfortable space, and family-like service.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
									<a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/bootstrap/img/room-2.jpg" alt="">
								<small
									class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$600/Night</small>
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">Executive Suite</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<div class="d-flex mb-3">
									<small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2
										Bed</small>
									<small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
										Bath</small>
									<small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
								</div>
								<p class="text-body mb-3">Junior suite boasts a consistent and luxurious interior
									atmosphere with elegant interior and subtle wood furniture colors.
									It is equipped with a thorough security system and individual heating and cooling
									facilities, so you can use it all year round without any inconvenience.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
									<a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="room-item shadow rounded overflow-hidden">
							<div class="position-relative">
								<img class="img-fluid" src="/bootstrap/img/room-3.jpg" alt="">
								<small
									class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$1000/Night</small>
							</div>
							<div class="p-4 mt-2">
								<div class="d-flex justify-content-between mb-3">
									<h5 class="mb-0">Super Deluxe</h5>
									<div class="ps-2">
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
										<small class="fa fa-star text-primary"></small>
									</div>
								</div>
								<div class="d-flex mb-3">
									<small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2
										Bed</small>
									<small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
										Bath</small>
									<small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
								</div>
								<p class="text-body mb-3">Super Suite is a VIP-only room, boasting a consistent
									and luxurious indoor atmosphere with elegant interior and subtle wood furniture
									colors, and a separate bedroom and drawing room makes it perfect for guest
									invitations and small meetings.</p>
								<div class="d-flex justify-content-between">
									<a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
									<a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Room End -->


		<!-- Testimonial Start -->
		<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s"
			style="margin-bottom: 90px;">
			<div class="container">
				<div class="owl-carousel testimonial-carousel py-5">
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>Highly recommended this newly opened Hotel, with a picturesque setting - endless pool (110m
							long) heated, and kids friendly.. Very clean and nice, beautiful surroundings</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-1.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Selina</h6>
								<small>Canada</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>Everything’s new and clean since it’s freshly opened. The pool is awesome! Bvlgari cafe/popup
							store is kind of odd but nice to look at. It’s a nice plus to have free soft drinks and beer
							stocked up each day. Stayed for 4 nights.</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-2.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Sylvia</h6>
								<small>America</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
					<div class="testimonial-item position-relative bg-white rounded overflow-hidden">
						<p>We liked our stay there. Although I wasn’t a fan of having to pick a time to use the pool.
							The check in process was also very long even if you arrive early they make you wait until
							3pm to get your keys</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded" src="/bootstrap/img/testimonial-3.jpg"
								style="width: 45px; height: 45px;">
							<div class="ps-3">
								<h6 class="fw-bold mb-1">Dennis</h6>
								<small>Singapore</small>
							</div>
						</div>
						<i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
	</body>

</html>